.recent-item {
    /* width: calc(20% - 10px); */
    /* padding: 6px; */
    border-radius: 5px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.recent-item-pic {
    text-align: center;
}

.recent-item-title {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ebebeb;
}

.recent-item-folder .recent-item-title {
    justify-content: center;
    border-top: none;
}

.recent-item-folder .recent-item-pic img {
    height: 40px;
    width: 40px;
}

.recent-item-content-type-icon {
    margin-right: 10px;
}

.recent-item-folder .recent-item-content-type-icon {
    display: none;
}

.recent-item-content-type-icon img {
    height: 15px;
    width: 15px;
}

.recent-item-pic .recent-item-pic  {
  height: 100px;
  width: 100%;
  background-size: 29%;
  background-position: center;
  background-repeat: no-repeat;
}

/* Device management */
#device-cards {
    background: #eff2f7;
    position: fixed;
    left: 100%;
    top: 65px;
    bottom: 0;
    right: 0;
    transition: 0.8s ease;
    z-index: 9999;
    overflow-y: auto;
}

#device-cards.active {
    left: 0;
    right: 0;
    top: 65px;
    bottom: 0;
}

  ul,
  ol,
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  .shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    -ms-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 450ms;
    -moz-animation-duration: 450ms;
    -o-animation-duration: 450ms;
    -ms-animation-duration: 450ms;
    animation-duration: 450ms;
  }
  .device-list {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px;
  }
  .ui-card {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 300px;
    height: 360px;
    background: #fff;
    border: 1px solid #dfe5ef;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.07);
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
  }
  .ui-card:hover {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
  }
  .ui-card .toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999999999;
  }
  .ui-card section {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .ui-card .content {
    left: 0;
  }
  .ui-card .toggle i {
    color: #8492a6;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .ui-card.sidebar-open .toggle i {
    color: #324057;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
  .ui-card .sidebar {
    left: 100%;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow: hidden;
  }

  .ui-card .sidebar ul {
      padding: 0;
  }

  .ui-card.sidebar-open .content {
    left: -10%;
  }
  .ui-card.sidebar-open .sidebar {
    left: 10%;
    -webkit-box-shadow: 0px 0px 300px 100px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 300px 100px rgba(0,0,0,0.7);
  }
  .ui-card nav {
    width: 90%;
    padding-top: 40px;
  }
  .ui-card nav li {
    border-bottom: 1px solid #eff2f7;
    font-weight: 200;
    letter-spacing: 0.05em;
  }
  .ui-card nav li i {
    display: inline-block;
    width: 30px;
  }
  .ui-card nav li a {
    display: block;
    padding: 20px;
    padding-left: 30px;
    color: #8492a6;
    border-left: 4px solid transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
  }
  .ui-card nav li a:hover {
    border-left: 4px solid #20a0ff;
    padding-left: 26px;
    color: #324057;
  }
  .ui-card .disconnect {
    left: 0px;
  }
  .ui-card .disconnect,
  .ui-card .reauth {
    width: 90%;
    height: 52px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .ui-card .btn {
    font-size: 0.8em;
  }
  .ui-card .btn-disconnect {
    color: #ff4949;
    padding: 10px 30px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
  }
  .ui-card .btn-disconnect:hover {
    color: #fff;
    background-color: #ff4949;
    border-radius: 6px;
  }
  .ui-card .reauth {
    padding-top: 20px;
    left: 100%;
  }
  .ui-card .reauth h3 {
    font-size: 15px;
    margin-bottom: 7px;
    color: #ff4949;
  }
  .ui-card .reauth input {
    border-radius: 4px;
    border: 1px solid #c2c9d3;
    padding: 5px;
    margin-bottom: 7px;
  }
  .ui-card .reauth input:focus {
    outline: none;
    border: 2px solid #20a0ff;
    margin-top: -1px;
    margin-bottom: 6px;
  }
  .ui-card .btn-cancel {
    color: #aebdd7;
  }
  .ui-card .sidebar.reauth-toggled .disconnect {
    left: -100%;
  }
  .ui-card .sidebar.reauth-toggled .reauth {
    left: 0px;
  }
  .ui-card .masthead {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: 70px;
  }
  .ui-card .masthead h1 {
    height: 100px;
    color: #324057;
    line-height: 72px;
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 0.05em;
  }
  .ui-card .masthead .device-version {
    text-align: center;
    color: #8492a6;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.05em;
  }
  .ui-card .device-icon {
    text-align: center;
  }
  .ui-card .device-info {
    width: 100%;
    margin-top: 30px;
    position: absolute;
    bottom: 50px;
  }
  .ui-card .device-icon i {
    color: #324057;
    font-size: 28px;
  }
  .ui-card .device-space {
    width: 100%;
    height: 60px;
    text-align: center;
  }
  .ui-card .device-space h3 {
    color: #8492a6;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 300;
    letter-spacing: 0.05em;
  }
  .ui-card .available-space {
    background: #eff2f7;
    width: 80%;
    margin: 0 auto;
    height: 10px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
  }
  .ui-card .used-space--photos,
  .ui-card .used-space--videos,
  .ui-card .used-space--system {
    height: 100%;
    position: absolute;
    border-radius: 20px;
  }
  .ui-card .used-space--photos {
    width: 70%;
    background: #13ce66;
  }
  .ui-card .used-space--videos {
    width: 30%;
    background: #f7ba2a;
  }
  .ui-card .used-space--system {
    background: #9b59b6;
  }
  .ui-card .device-legend {
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.04em;
    font-weight: 200;
    padding-left: 31px;
  }
  .ui-card .device-legend li {
    display: inline-block;
    margin-right: 15px;
    color: #8492a6;
  }
  .ui-card .device-legend li:last-child {
    margin-right: 0px;
  }
  .ui-card .device-legend i {
    display: inline-block;
    position: relative;
    top: -1px;
    font-size: 9px;
    margin-right: 3px;
  }
  .ui-card .device-legend i.system {
    color: #9b59b6;
  }
  .ui-card .device-legend i.photos {
    color: #13ce66;
  }
  .ui-card .device-legend i.videos {
    color: #f7ba2a;
  }
  @-moz-keyframes shake {
    0% {
      -webkit-transform: translateX(7px);
      -moz-transform: translateX(7px);
      -o-transform: translateX(7px);
      -ms-transform: translateX(7px);
      transform: translateX(7px);
    }
    15% {
      -webkit-transform: translateX(-7px);
      -moz-transform: translateX(-7px);
      -o-transform: translateX(-7px);
      -ms-transform: translateX(-7px);
      transform: translateX(-7px);
    }
    30% {
      -webkit-transform: translateX(5px);
      -moz-transform: translateX(5px);
      -o-transform: translateX(5px);
      -ms-transform: translateX(5px);
      transform: translateX(5px);
    }
    45% {
      -webkit-transform: translateX(-5px);
      -moz-transform: translateX(-5px);
      -o-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    60% {
      -webkit-transform: translateX(3px);
      -moz-transform: translateX(3px);
      -o-transform: translateX(3px);
      -ms-transform: translateX(3px);
      transform: translateX(3px);
    }
    75% {
      -webkit-transform: translateX(-3px);
      -moz-transform: translateX(-3px);
      -o-transform: translateX(-3px);
      -ms-transform: translateX(-3px);
      transform: translateX(-3px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -o-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  @-webkit-keyframes shake {
    0% {
      -webkit-transform: translateX(7px);
      -moz-transform: translateX(7px);
      -o-transform: translateX(7px);
      -ms-transform: translateX(7px);
      transform: translateX(7px);
    }
    15% {
      -webkit-transform: translateX(-7px);
      -moz-transform: translateX(-7px);
      -o-transform: translateX(-7px);
      -ms-transform: translateX(-7px);
      transform: translateX(-7px);
    }
    30% {
      -webkit-transform: translateX(5px);
      -moz-transform: translateX(5px);
      -o-transform: translateX(5px);
      -ms-transform: translateX(5px);
      transform: translateX(5px);
    }
    45% {
      -webkit-transform: translateX(-5px);
      -moz-transform: translateX(-5px);
      -o-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    60% {
      -webkit-transform: translateX(3px);
      -moz-transform: translateX(3px);
      -o-transform: translateX(3px);
      -ms-transform: translateX(3px);
      transform: translateX(3px);
    }
    75% {
      -webkit-transform: translateX(-3px);
      -moz-transform: translateX(-3px);
      -o-transform: translateX(-3px);
      -ms-transform: translateX(-3px);
      transform: translateX(-3px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -o-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  @-o-keyframes shake {
    0% {
      -webkit-transform: translateX(7px);
      -moz-transform: translateX(7px);
      -o-transform: translateX(7px);
      -ms-transform: translateX(7px);
      transform: translateX(7px);
    }
    15% {
      -webkit-transform: translateX(-7px);
      -moz-transform: translateX(-7px);
      -o-transform: translateX(-7px);
      -ms-transform: translateX(-7px);
      transform: translateX(-7px);
    }
    30% {
      -webkit-transform: translateX(5px);
      -moz-transform: translateX(5px);
      -o-transform: translateX(5px);
      -ms-transform: translateX(5px);
      transform: translateX(5px);
    }
    45% {
      -webkit-transform: translateX(-5px);
      -moz-transform: translateX(-5px);
      -o-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    60% {
      -webkit-transform: translateX(3px);
      -moz-transform: translateX(3px);
      -o-transform: translateX(3px);
      -ms-transform: translateX(3px);
      transform: translateX(3px);
    }
    75% {
      -webkit-transform: translateX(-3px);
      -moz-transform: translateX(-3px);
      -o-transform: translateX(-3px);
      -ms-transform: translateX(-3px);
      transform: translateX(-3px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -o-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  @keyframes shake {
    0% {
      -webkit-transform: translateX(7px);
      -moz-transform: translateX(7px);
      -o-transform: translateX(7px);
      -ms-transform: translateX(7px);
      transform: translateX(7px);
    }
    15% {
      -webkit-transform: translateX(-7px);
      -moz-transform: translateX(-7px);
      -o-transform: translateX(-7px);
      -ms-transform: translateX(-7px);
      transform: translateX(-7px);
    }
    30% {
      -webkit-transform: translateX(5px);
      -moz-transform: translateX(5px);
      -o-transform: translateX(5px);
      -ms-transform: translateX(5px);
      transform: translateX(5px);
    }
    45% {
      -webkit-transform: translateX(-5px);
      -moz-transform: translateX(-5px);
      -o-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    60% {
      -webkit-transform: translateX(3px);
      -moz-transform: translateX(3px);
      -o-transform: translateX(3px);
      -ms-transform: translateX(3px);
      transform: translateX(3px);
    }
    75% {
      -webkit-transform: translateX(-3px);
      -moz-transform: translateX(-3px);
      -o-transform: translateX(-3px);
      -ms-transform: translateX(-3px);
      transform: translateX(-3px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -o-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px);
    }
  }

  /* Floating button */
  
  #floating-button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
}

#floating-button.btn-tt-success {
    background: #2196f3;
}

#container-floating {
    width: 70px;
    height: 70px;
    padding-left: 8px;
    padding-top: 8px;
    z-index: 950;
    position: fixed;
    bottom: 80px;
    right: 20px;
}

#container-floating.fab--book-holiday {
    height: 85px;
    display: flex;
    align-items: flex-end;
}

#container-floating .nds {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    z-index: 300;
    transform: scale(0);
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
}

#container-floating .nds i {
    font-size: 22px;
    top: 9px;
    left: 9px;
}

#container-floating .lock-date {
    background: #459FF3;
    left: 15px;
    top: -25px;
    animation-delay: 0.15s;
    animation: bounce-out-nds 0s linear;
}

.lock-date.activated {
    animation-duration: 0.15s !important;
}

#container-floating .lock-date.nds-up {
    top: -50px;
}

#container-floating i {
    font-size: 32px;
    color: white;
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 0;
}

.plus {
    display: block;
    bottom: 0;
    margin: 0;
    transition: all 0.3s;
    height: 32px;
    width: 32px;
}

.plus.activated {
    animation: plus-out 0.3s;
}

#container-floating:hover .btn-add-user {
    background-color: #5dabf5;
}

#container-floating:hover .btn-tt-success {
    background-color: #26bf73;
}

#container-floating:hover .plus,
#container-floating.on .plus {
    animation: plus-in 0.15s linear;
    animation-fill-mode: forwards;
}

.btn-add {
    display: block;
    opacity: 0;
    margin: auto;
    transform: rotateZ(-70deg);
    top: 4px !important;
    left: 4px !important;
    padding: 8px !important;
}

#container-floating:hover .btn-add,
#container-floating.on .btn-add {
    animation: edit-in 0.2s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

#container-floating:hover .nds {
    animation: bounce-nds 0.1s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.08s;
}

@keyframes edit-in {
    from {
        opacity: 0;
        transform: rotateZ(-70deg);
        pointer-events: none;
    }

    to {
        opacity: 1;
        transform: rotateZ(0deg);
        pointer-events: initial;
    }
}

@keyframes edit-out {
    from {
        opacity: 1;
        transform: rotateZ(0deg);
    }

    to {
        opacity: 0;
        transform: rotateZ(-70deg);
    }
}

@keyframes plus-in {
    from {
        opacity: 1;
        transform: rotateZ(0deg);
        pointer-events: none;
    }

    to {
        opacity: 0;
        transform: rotateZ(180deg);
        pointer-events: initial;
    }
}

@keyframes plus-out {
    from {
        opacity: 0;
        transform: rotateZ(180deg);
    }

    to {
        opacity: 1;
        transform: rotateZ(0deg);
    }
}

@keyframes bounce-out-nds {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes bounce-nds {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fab--add-user {
    margin-top: 40px;
    float: right;
    margin-right: -7px;
}

.fab--book-holiday {
    position: absolute;
    /* right: 8px;
    top: 41px; */
}

.fab--book-holiday #floating-button {
    position: absolute;
}

/* Recent item context menu */
.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #ebebeb;
  box-shadow: 0px 0px 18px #94949440;
  border-radius: 4px;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 8px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #444;
  background-color: #ebebeb;
}

#image-preview, #file-version-list {
  display: none;
}

#file-version-list {
}

#image-preview-bg, #file-version-list-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999999997;
}

#image-preview-img {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99999999998;
  transform: translate(-50%, -50%);
  text-align: center;
}

#image-preview-img img {
  max-width: 70%;
  max-height: 90%;
}

#image-preview-close {
  position: fixed;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  z-index: 99999999999;
}

#file-version-list-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  overflow-y: auto;
  padding: 20px;
  background: #fff;
  z-index: 9999999999;
  border-radius: 6px;
  width: 400px;
  max-width: 90%;
}

.versions-list-item {
  padding: 10px;
  position: relative;
}

.versions-options {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.version-item-hash {
  position: absolute;
  left: 10px;
  top: 0;
  font-size: 0.7rem;
}

.version-item-date {
  font-weight: bold;
  color: #696969;
  margin-top: 3px;
}

.context-menu-sep {
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
  margin-bottom: 5px;
}

.btn-clicked {
  color: #212529;
  background-color: #6c757d;
  border-color: #6c757d;
}

.page-btn {
  position: absolute;
  right: 10px;
}